{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/core.async {:mvn/version "1.6.681"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
                  :exec-fn kaocha.runner/exec-fn
                  :exec-args {:skip-meta :slow}}

           :watch {:exec-args {:watch? true
                               :skip-meta :slow
                               :fail-fast? true}}}}